// Header, footer, navigation, section 
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}
.hamburger.is-active:hover, .hamburger:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner, .hamburger-inner {
  background-color: #fff;
  height: 2px;
  width: 36px;
  &:before, &:after {
    height: 2px;
    width: 36px;
    background-color: #fff;
  }
}
.header {
  background-color: #3179b7;
  padding: 1.25rem 0;
  color: #ffffff;
  box-shadow: 0 -.3125rem 1.25rem .625rem rgba(0,0,0,0.4);
  &__linkSection {
    display: none;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
    &--active {
      display: flex;
      transition-duration: .5s;
    }
  }
  &__link {
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .75rem;
    color: #ffffff;
    transition: .5s;
    font-weight: 600;
    margin: .5rem 0;
    &:hover {
      color: #ffffff;
      text-decoration: none;
      opacity: .5;
      transition: .5s;
    }
  }
  &__logoSection {
    order: -1;
  }
  &__logo {
    width: 10rem;
    display: flex;
    text-align: left;
    margin-left: 20px;
  }
  &__menu {
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
  }
}
.hero {
  margin-top: 6.25rem;
  height: 100vh;
  min-height: 50rem;
  background: url(../img/hero2.jpg) no-repeat center;
  background-size: cover;
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__header {
    font-size: 5vw;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 700;
  }
  &__text {
    font-size: 4vw;
    color: #ffffff;
    text-align: center;
  }
}
.about {
  background-color: #fafafa;
  padding: 7.5rem 0 7.5rem;
  &__horizontalCenter {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 50%;
    border-radius: 100%;
    margin-bottom: 2rem;
  }
  &__text {
    font-size: .85rem;
    opacity: .75;
    letter-spacing: .1rem;
    margin-bottom: 1.25rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.menu {
  background-color: #f1f1f1;
  padding: 0 0 7.5rem;
  &__header {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    color: #3179b7;
    margin: 7.5rem 0 2.5rem;
    text-align: center;
  }
  &__itemName {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    margin-bottom: .5rem;
  }
  &__itemDescription {
    font-size: .85rem;
    opacity: .75;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
    line-break: strict;
  }
}
.parties {
  padding: 7.5rem 0 7.5rem;
  &__header {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #3179b7;
    text-align: center;
  }
  &__cta {
    border: 1px solid #3179b7;
    padding: 1.25rem 3.75rem;
    margin: 2.5rem auto 0;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #3179b7;
    cursor: pointer;
    background: #ffffff;
    transition: .2s;
    letter-spacing: .25rem;
    display: inline-block;
    font-weight: 600;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      opacity: .5;
      transition: .5s;
    }
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.contact {
  background-color: #ededed;
  padding: 7.5rem 0 16rem; 
  &__header {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    color: #3179b7;
    margin-bottom:.75rem;
    &--marginTop {
      margin-top: 2rem;
    }
    &--marginTopMobile {
      display: block;
      margin-top: 2rem;
    }
  }
  &__text {
    font-size: .85rem;
    line-height: 1.5rem;
    opacity: .75;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: .5s;
    color: #000000;
    display: block;
    width: fit-content;
    &--link {
      margin-bottom: 1rem;
      cursor: pointer;
      border-bottom: 1px solid rgba(0,0,0,.25);
      &:hover {
        transition: .5s;
        cursor: pointer;
        color: #000000;
        text-decoration: none;
        opacity: .5;
        transition: .5s;
      }
    }
  }
  &__iframe {
    width: 100%;
    height: 200px;
    &--marginTopMobile {
      margin-top: 2rem;
    }
  }
}
.footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  &__text {
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .25rem;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__link {
    color:#3179b7;
    transition: .5s;
    text-align: right;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &--socialMedia {
      fill: #3179b7;
      width: 1.5rem;
      height: 1.5rem;
      text-decoration: none;
      cursor: pointer;
      transition: .5s;
      &:hover {
        opacity: .5;
        transition: .5s;
        text-decoration: none;
        color:#3179b7;
        cursor: pointer;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about {
    &__img {
      width: 100%;
    }
  }
  .contact {
    &__header {
      &--marginTopMobile {
        margin-top: 0;
      }
    }
    &__iframe {
      height: 300px;
      &--marginTopMobile {
        margin-top: 2rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header {
    &__link {
      margin: 0;
      letter-spacing: .5rem;
      font-weight: 700;
    }
    &__logoSection {
      order: 0;
    }
    &__logo {
      width: 12.5rem; 
      text-align: center;
      margin: auto;
    }  
    &__menu {
      display: none;
    }
  }
  .parties {
    &__header {
      font-size: 2rem;
      line-height: 4rem;
    }
  }
  .contact {
    &__iframe {
      height: 400px;
      &--marginTopMobile {
        margin-top: 0;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}