// Header, footer, navigation, section 
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}
.header {
  background-color: #3179b7;
  padding: 20px 0;
  color: #ffffff;
  box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.4);
  &__linkSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: .75rem;
    color: #ffffff;
    transition: .5s;
    font-weight: 700;
    &:hover {
      color: #ffffff;
      text-decoration: none;
      opacity: .5;
      transition: .5s;
    }
  }
  &__logo {
    max-width: 200px;
  }
}
.hero {
  margin-top: 100px;
  height: 100vh;
  min-height: 800px;
  background: url(../img/hero2.jpg) no-repeat center;
  background-size: cover;
}
.about {
  background-color: #fafafa;
  padding: 120px 0 120px;
  &__horizontalCenter {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 100%;
    border-radius: 100%;
  }
  &__text {
    font-size: .85rem;
    opacity: .75;
    letter-spacing: .1rem;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.menu {
  background-color: #f1f1f1;
  padding: 0 0 120px;
  &__header {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    color: #3179b7;
    margin: 120px 0 40px;
    text-align: center;
  }
  &__itemName {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    font-weight: 300;
  }
  &__itemDescription {
    font-size: .85rem;
    opacity: .75;
    letter-spacing: .1rem;
    margin-bottom: 20px;
    line-break: strict;
  }
}
.parties {
  padding: 120px 0 120px;
  &__header {
    font-weight: 200;
    font-size: 2rem;
    line-height: 4rem;
    color: #3179b7;
    text-align: center;
  }
  &__cta {
    border: 1px solid #3179b7;
    padding: 20px 60px;
    margin: 40px auto 0;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #3179b7;
    cursor: pointer;
    background: #ffffff;
    transition: .2s;
    letter-spacing: .25rem;
    display: inline-block;
    font-weight: 600;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      opacity: .5;
      transition: .5s;
    }
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.hoursLocation {
  background-color: #ededed;
  padding: 120px 0 120px; 
}
.footer {
  padding: 10px 0;
  background-color: #3179b7;
  &__text {
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .25rem;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__link {
    color:#ffffff;
    transition: .5s;
    text-align: right;
    &:hover {
      opacity: .75;
      transition: .5s;
      text-decoration: none;
      color:#ffffff;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}